
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Avenir Next', sans-serif!important;
    color: #262627;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 2000px!important;
}

main {
    background-image: linear-gradient(180deg, #589db2 0, #a8d3a8 25%, #d5ba63 50%, #d1d1d1 75%, #262627 100%);
}
.main__title-1p, .title {
    font-family: Futura, 'Avenir Next', 'Josefin Sans', Montserrat, sans-serif;
    font-weight: 700!important;
}
.about__subtitle, .about__title, .footer__subtitle {
    font-family: Futura, 'Avenir Next', Montserrat, 'Josefin Sans', sans-serif;
    font-weight: 700!important;
}
.about__text, .mail, p {
    font-family: 'Avenir Next', Montserrat, sans-serif;
}
.lang, .nav, .navbar-item, .pointer_link {
    font-family: 'Avenir Next', 'Josefin Sans', Montserrat, sans-serif;
}
.title:not(:last-child) {
    margin-bottom: 0!important;
}
#link {
    visibility: hidden;
}
.icon__footer, .mail {
    transition: .1s;
}
.mail:visited {
    color: #d1d1d1!important;
}
.bxs-envelope {
    font-size: 3rem;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: all 0.7s ease 0s;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}
.popup__area {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #262627;
    color: #d9d9d9;
    max-width: 800px;
    padding: 35px 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 5px 10px -5px rgba(100, 100, 100, 0.6);
    tranform: translate(0px, -100%);
    opacity:0;
    transition: all 0.5s ease 0s;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.popup__close {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #d9d9d9;
}
.share {
    display: flex;
    justify-content: flex-end;
}
.popup-link {
    color: #f1f1f1;
    font-weight: 500;
    font-size: 17px;
    background: linear-gradient(0deg, rgba(213,186,99,1) 0%, rgba(88,157,178,1) 100%);
    width: fit-content;
    border-radius: 3px;
    padding: 10px 9px;
    display: flex;
    align-items: center;
}
.popup-link:hover {
    transition: all 0.2s;
    color: #fff;
    transform: scale(1.02);
    box-shadow: 0 7px 14px rgba(117, 130, 132, 0.1), 0 3px 6px rgb(0 0 0 / 8%);
}

@media (max-width:889px) {
.desktop__ebook {
      display: none;
}
.desktop_pointer {
    display: none;
}
}@media (min-width:890px) {
.mobile__ebook {
    display:none;
}
.mobile_pointer {
    display:none;
}    
}@media (max-width:819px) {
.mail {
    display: none;
}
.desktop__ebook {
      display: none;
}
}@media (min-width:820px) {
.mail__icons {
    display: none;
}
.mail:active, .mail:hover {
    transform: scale(1.02);
    color: #d1d1d1!important;
}
.icon__footer:hover {
    transform: scale(1.06);
}
}@media (max-width:374px) {
    .social-share__items {
    display: flex;
    justify-content: center;
}
.social-share__items a {
    padding: 3px 4px;
    margin: 0 2px;
    border-radius: 2px;
}
.social-share__items div {
    padding: 3px 4px;
    margin: 0 2px;
    border-radius: 2px;
}
.bx-copy::before, .bxl-facebook::before, .bxl-gmail::before, .bxl-pinterest-alt, .bxl-telegram::before, .bxl-twitter::before, .bxl-whatsapp::before {
    font-size: 1.4rem;
    line-height: 0;
    vertical-align: middle;
}
}@media (min-width:375px) and (max-width:767px) {
    .social-share__items {
    display: flex;
    justify-content: flex-end;
}
.social-share__items a {
    padding: 4.5px 5.5px;
    margin: 0 2px;
    border-radius: 2px;
}
.social-share__items div {
    padding: 4.5px 5.5px;
    margin: 0 2px;
    border-radius: 2px;
}
.bx-copy::before, .bxl-facebook::before, .bxl-gmail::before, .bxl-pinterest-alt, .bxl-telegram::before, .bxl-twitter::before, .bxl-whatsapp::before {
    font-size: 1.3rem;
    line-height: 0;
    vertical-align: middle;
}
}@media (min-width:768px) {
    .social-share__items {
    display: flex;
    justify-content: flex-end;
}
.social-share__items a {
    padding: 5px;
    margin: 0 3px;
    border-radius: 2px;
    transition: .2s;
}
 .social-share__items div {
    padding: 5px;
    margin: 0 3px;
    border-radius: 2px;
    transition: .2s;
    cursor: pointer;
}
.social-share__items a:active, .social-share__items a:hover {
    transform: scale(1.05);
    box-shadow: 1px 4px 17px -3px #3a3b4f;
}
.social-share__items div:active, .social-share__items div:hover {
    transform: scale(1.05);
    box-shadow: 1px 4px 17px -3px #3a3b4f;
}
.bx-copy::before, .bxl-facebook::before, .bxl-gmail::before, .bxl-pinterest-alt, .bxl-telegram::before, .bxl-twitter::before, .bxl-whatsapp::before {
    font-size: 1.6rem;
    line-height: 0;
    vertical-align: middle;
}
}@media (max-width:279px) {
    .navbar-item, .pointer_link {
    text-decoration: none;
    text-transform: uppercase;
}
.main__footer, .main__title, section {
    padding: 0 1rem;
    color: #262627;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .4px;
    color: #424244;
    padding: .9rem .74rem!important;
}
.navbar-item img {
    max-height: 40px!important;
    padding: 0!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    width: 2.9rem!important;
    margin-right: 1rem!important;
    position: relative;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
#logo_img {
    margin-left: .6rem;
    width: 16%}
.lang {
    font-size: .6rem;
    font-weight: 600;
    color: #e7e7e7;
    background-color: #424244;
    border-radius: 50%;
    text-decoration: none;
    margin-right: .5rem;
    margin-bottom: .2rem;
    padding: .5rem .55rem .42rem;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    font-size: 1.15rem!important;
    font-weight: 700;
    letter-spacing: .02rem;
    color: #262627!important;
    flex-flow: column;
    padding: 4rem 0;
}
.main__title-1p {
    font-size: 1.55rem;
    font-weight: 700;
}
.main__title-img {
    width: 100%;
    max-width: 170px;
    padding: .25rem 0;
}
.pointer {
    justify-content: center;
    padding: 1.5rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2rem;
}
.pointer_link {
    font-size: .8rem;
    font-weight: 500;
    color: #262627;
}
.about__title {
    font-size: .9rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
    padding: 2rem 0 .5rem;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
}
.about_text {
    font-family: 'Avenir Next', sans-serif;
    font-size: .8rem;
    line-height: 1.3;
    text-indent: 1.1rem;
}
.about__subtitle {
    font-size: .85rem;
    font-weight: 700;
    color: #262627;
    padding: 1rem 0 .1rem;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1rem 0;
}
.pdf {
    height: 50vh;
    width: 100%;
    border: none;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    font-size: .8rem;
    letter-spacing: -.01rem;
    width: 100%}
.footer__subtitle {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 .1rem;
}
.right__footer {
    font-size: .8rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 130px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .85rem;
    color: #262627;
    background-color: #d9d9d9;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1rem;
    bottom: 1rem;
    line-height: 35px;
    padding: 4px 12px 5px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:280px) and (max-width:319px) {
    .lang, .main__footer, .main__title, section {
    font-family: 'Avenir Next', sans-serif;
}
.main__footer, .main__title, section {
    color: #262627;
    padding: 0 1.15rem;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    font-size: .75rem;
    font-weight: 700;
    color: #424244;
    text-transform: uppercase;
    text-decoration: none;
    padding: .9rem .74rem!important;
}
.navbar-item:hover {
    color: #424244!important;
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.navbar-item img {
    max-height: 40px!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
    padding: .027rem 0!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    width: 2.9rem!important;
    margin-right: 1rem!important;
    position: relative;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
#logo_img {
    margin-left: .8rem;
    padding: .65rem 0 .65rem 1.15rem;
    width: 17%}
.lang {
    font-size: .6rem;
    font-weight: 600;
    color: #e7e7e7;
    border-radius: 50%;
    margin-bottom: .2rem;
    margin-right: .5rem;
    padding: .5rem .55rem .42rem;
    background-color: #424244;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    font-size: 1.3rem!important;
    font-weight: 700;
    color: #262627!important;
    letter-spacing: .02rem;
    flex-flow: column;
    padding: 7.2rem 0;
}
.main__title-1p {
    font-size: 1.85rem;
    font-weight: 700;
}
.main__title-img {
    width: 100%;
    max-width: 200px;
    padding: .25rem 0;
}
.pointer {
    justify-content: center;
    padding: 2.2rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    text-transform: uppercase;
    color: #262627;
    font-weight: 500;
}
.about__title {
    font-size: 1.05rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
    padding: 2rem 0 .5rem;
}
.about_text, .left__footer {
    letter-spacing: -.01rem;
    text-align: justify;
    hyphens: auto;
}
.about_text {
    font-family: 'Avenir Next', sans-serif;
    font-size: .85rem;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: .95rem;
    font-weight: 700;
    color: #262627;
    padding: 1rem 0 .25rem;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1rem 0;
}
.pdf {
    max-width: 830px;
    height: 65vh;
    width: 100%;
    border: none;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    font-size: .88rem;
    width: 100%}
.footer__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0 .25rem;
}
.right__footer {
    font-size: .88rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 100px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .85rem;
    height: 3rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.15rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:320px) and (max-width:374px) {
    .main__footer, .main__title, section {
    padding: 0 1.15rem;
    color: #262627;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #424244;
    padding: .68rem 1rem!important;
}
.navbar-item:hover {
    color: #424244!important;
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.navbar-item img {
    max-height: 40px!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    width: 2.9rem!important;
    position: relative;
    margin-right: .85rem!important;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
#logo_img {
    margin-left: .7rem;
    padding: .65rem 0 .65rem 1.15rem;
    width: 17%}
.lang {
    font-family: 'Avenir Next', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    background-color: #424244;
    color: #e7e7e7;
    border-radius: 50%;
    padding: .5rem .55rem .42rem;
    margin-bottom: .2rem;
    margin-right: .5rem;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    font-size: 1.6rem!important;
    font-weight: 700;
    letter-spacing: .02rem;
    color: #262627!important;
    flex-flow: column;
    padding: 5.8rem 0;
}
.main__title-1p {
    font-size: 2.35rem;
    font-weight: 700;
}
.main__title-img {
    width: 100%;
    max-width: 250px;
}
.pointer {
    justify-content: center;
    padding: 2.2rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    color: #262627;
    font-weight: 500;
    text-transform: uppercase;
}
.about__title {
    font-size: 1.25rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-family: 'Avenir Next', sans-serif;
    font-size: .9rem;
    line-height: 1.4;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    color: #262627;
    padding: 1rem 0 .25rem;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1rem 0;
}
.pdf {
    max-width: 830px;
    height: 65vh;
    width: 100%;
    border: none;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    font-size: .88rem;
    width: 100%}
.footer__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0 .25rem;
}
.right__footer {
    font-size: .88rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 100px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .85rem;
    height: 3rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.15rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:375px) and (max-width:410px) {
    .lang, .main__title-1p, .navbar-item, .title {
    font-weight: 700;
}
.main__footer, .main__title, section {
    padding: 0 1.2rem;
    color: #262627;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    font-size: .75rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #424244;
    padding: .9rem .75rem!important;
}
.navbar-item:hover {
    color: #424244!important;
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.navbar-item img {
    max-height: 40px!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    width: 2.9rem!important;
    margin-right: .75rem!important;
    position: relative;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
#logo_img {
    margin-left: .5rem;
    padding: .65rem 0 .65rem 1.15rem;
    width: 16%}
.lang {
    font-family: 'Avenir Next', sans-serif;
    font-size: .7rem;
    padding: .5rem .53rem .38rem;
    color: #424244;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: .6rem;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    font-size: 1.8rem!important;
    line-height: 1.5!important;
    letter-spacing: .02rem;
    color: #262627!important;
    flex-flow: column;
    padding: 6rem 0;
}
.main__title-1p {
    font-size: 2.65rem;
}
.main__title-img {
    width: 100%;
    max-width: 280px;
}
.pointer {
    justify-content: center;
    padding: 2.5rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    text-transform: uppercase;
    color: #262627;
    font-weight: 500;
}
.about__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
    padding: 2.5rem 0 .5rem;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-family: 'Avenir Next', sans-serif;
    font-size: 1rem;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.pdf {
    max-width: 830px;
    height: 70vh;
    width: 100%;
    border: none;
    padding: 2rem 0;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    font-size: .95rem;
    width: 100%}
.footer__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0 .25rem;
}
.right__footer {
    font-size: .95rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 100px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .85rem;
    height: 3rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.2rem;
    bottom: 1.8rem;
    line-height: 35px;
    padding: 4px 11px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:411px) and (max-width:539px) {
    .lang, .navbar-start {
    font-family: 'Avenir Next', sans-serif;
}
.main__footer, .main__title, section {
    padding: 0 1.3rem;
    color: #262627;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    padding: .9rem .75rem!important;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #424244;
}
.navbar-item:hover {
    color: #424244!important;
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.navbar-item img {
    max-height: 40px!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    position: relative;
    width: 2.9rem!important;
    margin-right: .75rem!important;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
#logo_img {
    margin-left: .5rem;
    padding: .65rem 0 .65rem 1.15rem;
    width: 16%}
.lang {
    font-size: .8rem;
    font-weight: 700;
    padding: .5rem .55rem .4rem;
    color: #424244;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: .5rem;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-size: 1.95rem!important;
    line-height: 1.5!important;
    letter-spacing: .05rem;
    padding: 7.4rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 2.85rem;
}
.main__title-img {
    width: 100%;
    max-width: 310px;
}
.pointer {
    justify-content: center;
    padding: 3rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    text-transform: uppercase;
    color: #262627;
    font-weight: 500;
}
.about__title {
    font-size: 1.25rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.05rem;
    line-height: 1.4;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.pdf {
    max-width: 830px;
    height: 55vh;
    width: 100%;
    border: none;
    padding: 2rem 0;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    font-size: .95rem;
}
.footer__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: .95rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 100px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .85rem;
    height: 3rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.3rem;
    bottom: 1.8rem;
    line-height: 35px;
    padding: 4px 11px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:540px) and (max-width:767px) {
    .lang, .main__title-1p, .navbar-item, .title {
    font-weight: 700;
}
.main__footer, .main__title, section {
    padding: 0 1.5rem;
    color: #262627;
}
.navigation-bar {
    display: none;
}
.bg-color {
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item {
    padding: .9rem .75rem!important;
    font-size: .85rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #424244;
}
.navbar-item:hover {
    color: #424244!important;
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.navbar-item img {
    max-height: 40px!important;
}
.navbar-start {
    display: flex!important;
    justify-content: center;
}
.ebook, .main__footer, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navbar-brand {
    align-items: center!important;
}
.navbar-burger {
    color: #424244!important;
    cursor: pointer;
    height: 2.9rem!important;
    position: relative;
    width: 2.9rem!important;
    margin-right: .8rem!important;
}
.navbar-burger span {
    height: 2px!important;
    width: 18px!important;
}
.none {
    height: 16px;
}
#logo_img {
    margin-left: .65rem;
    padding: .6rem 0 .6rem 1.15rem;
    width: 16%}
.lang {
    font-family: 'Avenir Next', sans-serif;
    font-size: .8rem;
    padding: .5rem .55rem .4rem;
    color: #424244;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: .5rem;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-size: 2.7rem!important;
    line-height: 1.5!important;
    letter-spacing: .05rem;
    padding: 7.2rem 0;
    color: #262627!important;
}
.about__subtitle, .about__title, .about_text, .main__footer, .pointer_container, .site__footer {
    font-family: 'Avenir Next', sans-serif;
}
.main__title-1p {
    font-size: 3.8rem;
}
.main__title-img {
    width: 100%;
    max-width: 420px;
}
.pointer {
    justify-content: center;
    padding: 2.5rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    text-transform: uppercase;
    color: #262627;
    font-weight: 500;
}
.about__title {
    font-size: 1.4rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: .98rem;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.pdf {
    max-width: 830px;
    height: 75vh;
    width: 100%;
    border: none;
    padding-bottom: 2rem;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    font-size: .95rem;
}
.footer__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: .95rem;
    width: 100%}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 130px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .9rem;
    height: 3.25rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.5rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:768px) and (max-width:819px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 1.7rem;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 1.7rem;
}
.navbar {
    display: none;
}
.ebook, .main__footer, .nav__menu, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.nav {
    padding: 0 1rem;
    font-size: .95rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 2.6rem;
}
.lang {
    font-size: 1rem;
    padding: .65rem .7rem .5rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-weight: 700;
    font-size: 3rem!important;
    line-height: 1.5!important;
    letter-spacing: .05rem;
    padding: 7rem 0;
    color: #262627!important;
}
.about_text, .main__footer {
    font-family: 'Avenir Next', sans-serif;
}
.main__title-1p {
    font-weight: 700;
    font-size: 4.2rem;
}
.main__title-img {
    width: 100%;
    max-width: 450px;
}
.pointer {
    justify-content: center;
    padding: 2.5rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.5rem;
}
.pointer_link {
    color: #262627;
    font-weight: 500;
}
.about__title {
    font-size: 1.4rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1.2rem;
    text-indent: 1.3rem;
}
.about__subtitle {
    font-size: 1.1rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    max-width: 830px;
    height: 75vh;
    width: 100%;
    border: none;
    padding-bottom: 3rem;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 65%;
    font-size: .95rem;
    padding-right: 1rem;
}
.footer__subtitle {
    font-size: 1.2rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.1rem;
}
.right__footer {
    font-size: .95rem;
    width: 100%;
    max-width: 35%;
    padding-left: 1rem;
    padding-bottom: 3rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 140px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .9rem;
    height: 3.25rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.7rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:820px) and (max-width:1023px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 1.8rem;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navbar {
    display: none;
}
.ebook, .main__footer, .nav__menu, .navigation-bar, .pointer, .r_align, .site__footer {
    display: flex;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.7rem;
}
.nav {
    padding: 0 1.1rem;
    font-size: 1rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 2.8rem;
}
.lang {
    font-size: 1.2rem;
    padding: .65rem .7rem .55rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    font-weight: 700;
    font-size: 4rem!important;
    line-height: 1!important;
    letter-spacing: .1rem;
    padding: 14rem 0;
    color: #262627!important;
}
.main__title-1p {
    line-height: 1.5!important;
    font-size: 5.2rem;
}
.main__title-img {
    width: 100%;
    max-width: 600px;
}
.pointer {
    justify-content: center;
    padding: 6rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 3rem;
}
.pointer_link {
    font-size: 1.2rem;
    color: #262627;
    font-weight: 500;
}
.about {
    padding: 0 2.25rem;
}
.about__title {
    font-size: 1.5rem;
    padding: 1.5rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1rem;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.2rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    max-width: 830px;
    height: 70vh;
    width: 100%;
    border: none;
    padding-bottom: 4rem;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: .95rem;
    padding-right: 1rem;
}
.footer__subtitle {
    font-size: 1.2rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.right__footer {
    font-size: .95rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 130px;
    padding: 1rem 0;
}
.site__footer {
    font-size: .9rem;
    height: 3.25rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 1.8rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:1024px) and (max-width:1279px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 3rem;
    color: #262627;
}
.lang, .nav {
    font-weight: 700;
    color: #424244;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}
.navbar {
    display: none!important;
}
.ebook, .main__footer, .nav__menu, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.nav {
    font-family: 'Avenir Next', 'Josefin Sans', Montserrat, sans-serif;
    padding: 0 1.1rem;
    font-size: 1.1rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 3.3rem;
}
.lang {
    font-size: 1.3rem;
    padding: .75rem .775rem .6rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    flex-flow: column;
    font-weight: 700!important;
    font-size: 5rem!important;
    line-height: 1.5!important;
    letter-spacing: .1rem;
    padding: 12rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 6.8rem;
}
.main__title-img {
    width: 100%;
    max-width: 760px;
}
.pointer {
    justify-content: center;
    padding: 7rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 3rem;
}
.pointer_link {
    font-size: 1.5rem;
    color: #262627;
    font-weight: 500;
}
.about {
    padding: 0 2.5rem;
}
.about__title {
    font-size: 1.7rem;
    padding: 1.5rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1rem;
    font-weight: 400;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.3rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    height: 70vh;
    width: 100%;
    border: none;
    padding-bottom: 4rem;
    max-width: 830px;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: .95rem;
    padding-right: 1rem;
}
.footer__subtitle {
    font-size: 1.3rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: 1rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1rem;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 150px;
    padding: 1rem 0;
}
.site__footer {
    font-size: 1rem;
    height: 3.5rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 3rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:1280px) and (max-width:1365px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 3rem;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navbar {
    display: none!important;
}
.ebook, .main__footer, .nav__menu, .navigation-bar, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.7rem;
}
.nav {
    padding: 0 1.5rem;
    font-size: 1.1rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 3.3rem;
}
.lang {
    font-size: 1.3rem;
    padding: .75rem .775rem .6rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-weight: 700;
    font-size: 4.5rem!important;
    line-height: 1.5!important;
    letter-spacing: .1rem;
    padding: 3.8rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 6rem;
}
.main__title-img {
    width: 100%;
    max-width: 670px;
}
.pointer {
    justify-content: center;
    padding: 3rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 2.9rem;
}
.pointer_link {
    font-size: 1.4rem;
    color: #262627;
    font-weight: 500;
}
.about {
    width: 65%;
    margin: 0 auto;
}
.about__title {
    font-size: 1.6rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1.1rem;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.3rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    height: 100vh;
    width: 100%;
    border: none;
    padding: 5rem 0;
    max-width: 830px;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
    padding: 0 4rem;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: 1rem;
    padding-right: 1.2rem;
}
.footer__subtitle {
    font-size: 1.3rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: 1rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1.2rem;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 150px;
    padding: 1rem 0;
}
.site__footer {
    font-size: 1rem;
    height: 3.5rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 4rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:1366px) and (max-width:1439px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 3rem;
    font-family: 'Avenir Next', sans-serif;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2rem;
}
.navbar {
    display: none!important;
}
.ebook, .main__footer, .nav__menu, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.nav {
    padding: 0 1.1rem;
    font-size: 1.1rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 3.3rem;
}
.lang {
    font-size: 1.3rem;
    padding: .75rem .775rem .6rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-weight: 700;
    font-size: 4.7rem!important;
    line-height: 1.5!important;
    letter-spacing: .1rem;
    padding: 6.3rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 6rem;
}
.main__title-img {
    width: 100%;
    max-width: 680px;
}
.pointer {
    justify-content: center;
    padding: 4rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 3rem;
}
.pointer_link {
    font-size: 1.4rem;
    color: #262627;
    font-weight: 500;
}
.about {
    margin: 0 auto;
    width: 70%}
.about__title {
    font-size: 1.7rem;
    padding: 1.5rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1.1rem;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.3rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    height: 70vh;
    width: 100%;
    border: none;
    padding-bottom: 4rem;
    max-width: 830px;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
    padding: 0 4rem;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: .95rem;
    padding-right: 1.2rem;
}
.footer__subtitle {
    font-size: 1.3rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: 1rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1.2rem;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 150px;
    padding: 1rem 0;
}
.site__footer {
    font-size: 1rem;
    height: 3.5rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 4rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:1440px) and (max-width:1511px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 3rem;
    font-family: 'Avenir Next', sans-serif;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar {
    display: none!important;
}
.ebook, .main__footer, .nav__menu, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.nav {
    padding: 0 1.5rem;
    font-size: 1.1rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 3.3rem;
}
.lang {
    font-size: 1.3rem;
    padding: .75rem .775rem .6rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-weight: 700;
    font-size: 6rem!important;
    line-height: 1.5!important;
    letter-spacing: .1rem;
    padding: 4.3rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 7rem;
}
.about__title, .pointer_link {
    font-size: 1.5rem;
    color: #262627;
}
.main__title-img {
    width: 100%;
    max-width: 840px;
}
.pointer {
    justify-content: center;
    padding: 3rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 3.3rem;
}
.pointer_link {
    font-weight: 500;
}
.about {
    width: 65%;
    margin: 0 auto;
}
.about__title {
    padding: 2rem 0 .5rem;
    font-weight: 700;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1.1rem;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.3rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    height: 85vh;
    width: 100%;
    border: none;
    padding: 4rem 0;
    max-width: 830px;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
    padding: 0 4rem;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: 1rem;
    padding-right: 1.3rem;
}
.footer__subtitle {
    font-size: 1.3rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: 1rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1.3rem;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
    text-decoration: underline;
}
.logo_img__footer {
    width: 100%;
    max-width: 150px;
    padding: 1rem 0;
}
.site__footer {
    font-size: 1rem;
    height: 3.5rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 4rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}@media (min-width:1512px) {
    .nav, .pointer_link {
    text-transform: uppercase;
}
.ebook, .logo_img {
    vertical-align: middle;
}
.main__footer, .main__title, section {
    padding: 0 3rem;
    font-family: 'Avenir Next', sans-serif;
    color: #262627;
}
.lang, .nav {
    color: #424244;
    font-weight: 700;
}
.navigation-bar {
    width: 100%;
    background-image: linear-gradient(45deg, #45899d 0, #97cebc 50%, #e8bb67 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
}
.navbar {
    display: none!important;
}
.ebook, .main__footer, .nav__menu, .pointer, .r_align, .site__footer, .title {
    display: flex;
}
.nav {
    padding: 0 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
}
.nav:hover {
    text-decoration: underline;
}
.lang, .pointer_link {
    text-decoration: none;
}
.logo_img {
    width: 3.3rem;
}
.lang {
    font-size: 1.3rem;
    padding: .75rem .775rem .6rem;
    background-color: #e7e7e7;
    border-radius: 50%;
    transition: .4s;
}
.lang:hover {
    transform: scale(1.06);
}
.title {
    font-family: Futura, sans-serif;
    flex-flow: column;
    font-size: 6rem!important;
    line-height: 1.5!important;
    letter-spacing: .1rem;
    padding: 6.4rem 0;
    color: #262627!important;
}
.main__title-1p {
    font-weight: 700;
    font-size: 8rem;
}
.main__title-img {
    width: 100%;
    max-width: 900px;
}
.pointer {
    justify-content: center;
    padding: 3rem 0;
}
.pointer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer_container:hover {
    opacity: .75;
}
.pointer_img {
    width: 3.3rem;
}
.pointer_link {
    font-size: 1.5rem;
    color: #262627;
    font-weight: 500;
}
.about {
    width: 57%;
    margin: 0 auto;
}
.about__title {
    font-size: 1.6rem;
    padding: 2rem 0 .5rem;
    font-weight: 700;
    color: #262627;
    text-align: center;
}
.about_text, .left__footer {
    text-align: justify;
    hyphens: auto;
    letter-spacing: -.01rem;
}
.about_text {
    font-size: 1.1rem;
    text-indent: 1.75rem;
}
.about__subtitle {
    font-size: 1.3rem;
    padding: 1rem 0 .25rem;
    font-weight: 700;
    color: #262627;
}
.ebook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdf {
    height: 85vh;
    width: 100%;
    border: none;
    padding: 4rem 0;
    max-width: 830px;
}
.main__footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #262627;
    color: #d1d1d1;
    line-height: 1.4;
    padding: 0 5rem;
}
.bxl-instagram:before, .mail {
    color: #d9d9d9;
}
.left__footer {
    width: 100%;
    max-width: 60%;
    font-size: 1rem;
    padding-right: 1.3rem;
}
.footer__subtitle {
    font-size: 1.3rem;
    padding: 1.5rem 0 .25rem;
    font-weight: 700;
}
.right__footer {
    font-size: 1rem;
    width: 100%;
    max-width: 40%;
    padding-left: 1.3rem;
}
.left__footer>.footer__subtitle~p {
    text-indent: 1.2rem;
}
.r_align {
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 1rem 0 2rem;
}
.mail {
    text-align: right;
    font-weight: 600;
}
.logo_img__footer {
    width: 100%;
    max-width: 150px;
    padding: 1rem 0;
}
.site__footer {
    font-size: 1rem;
    height: 3.5rem;
    background-color: #d9d9d9;
    color: #262627;
    justify-content: center;
    align-items: center;
}
.scrollup {
    position: fixed;
    color: #d9d9d9;
    background-color: #424244;
    right: 5rem;
    bottom: 1.8rem;
    line-height: 40px;
    padding: 4px 13px 5px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    opacity: 85%}
.scrollup:hover {
    opacity: 100%}
}
